<form action="/workouts" method="POST">

  <label> Add New Category: </label>

  <input type="text" name="category[title]" id="category_title">
  <br></br>
   <label> Choose from an exisiting category: </label>
    <%if Category != nil %>
    <%Category.all.each do |category|%>
    <input type="radio" name="workout[category_id]" id="<%= category.id%>" value="<%=category.id%>" ><%=category.title%></input>
  <%end%>
    <%end%>


 
  <br></br>

  <label>Add workout:</label>
  <br></br>
  <label> Title:</label>
  <input  type="text" name="workout[title]" id="workout_title"></input>
  <div class="control">
    <label for="url"> Link:</label>
    <input type="url" name="workout[link]" id="workout_link"
    placeholder="https://example.com"
    pattern="https://.*" size="20"  />
  </div>
  <input type="submit" value="Add Workout">
</form>


