<h1>Add a new workout </h1>
<form action="/workouts/new" method="POST">
 <label>Add a new workout:</label>
  <br></br>
  <label> Title:</label>
  <input  type="text" name="workout[title]" id="workout_title"></input>
  <div class="control">
    <label for="url"> Link:</label>
    <input type="url" name="workout[link]" id="workout_link"
    placeholder="https://example.com"
    pattern="https://.*" size="20"  />
  </div>
  <input type="submit" value="Add Workout">
</form>